@model Form_App.ViewModels.TherapyInfoViewModel.DetailsTherapyViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DetailsTherapyViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Review)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Review)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disorder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disorder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RangeOfMotion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RangeOfMotion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VasScale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VasScale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tests)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tests)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TherapyTecnics)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TherapyTecnics)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recommendation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recommendation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdisionalInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdisionalInfo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
